*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #FFEFE9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-primary {
    padding:10px 20px;
    color: white;
    background-color:#E8534F;
    border-radius: 14px;
    border:2px solid #E8534F;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #e32620;
    border-color: #e32620;
}

.btn-secondary {
    color: #E8534F ;
    border:2px solid #E8534F;
    padding: 10px 20px;
    border-radius: 14px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.btn-secondary:hover {
    border-color: #e32620;
    color: #e32620;
}

.acerca-nos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero-nosotros {
    text-align:center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.hero-nosotros h1{
    color: #fa0000;
    font-size: 2.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.hero-nosotros p{
    font-size: 1.1rem;
    color: #555;
}

.mision {
    background-color: #E8534F;
    width: 920px;
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.mision h2 {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 1.5;
    text-align: center;
}

.mision p {
    color: #f0f0f0;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
}

.info_carta {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px auto;
}

.contenedor-cartas {
    display: flex;
    gap: 20px; 
    justify-content: center; 
}

.contenedor-cartas {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px auto;
}

.card {
    background-color: #ffffff;
    width: 300px; 
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card h3 {
    color: #E74D4E;
    margin: 15px;
    text-align: center;
}

.card p {
    color: #555;
    line-height: 1.6;
    text-align: center;
}

.contacto {
    background-color: #F5F5F5;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 1000px;
    margin:  25px auto;
}

.contacto h2 {
    color: #E74D4E;
    margin-bottom: 20px;
    text-align: center;
}

.contacto p {
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
}

.footer {
    background-color: #2C2C2C;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 19px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}